<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <section class="top-banner">
    <div class="title-container">
      <h2 class="title">Big Mouth</h2>
    </div>
    <div class="contact">
      <ul>
        <li>phone</li>
        <li>email</li>
        <li>address</li>
      </ul>
    </div>
  </section>
  <section class="each-dish">
    <div class="image">img</div>
    <div class="order-button"><button type="button">order</button> </div>
    <div class="description">description</div>
  </section>
</body>

</html>
