html {
  box-sizing: border-box;
}

body {
  font-family: 'Supermercado One';
  display: flex;
  flex-direction: column;
  // background-color: #ece3d9;
  background-color: #fcfcf6;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.top-banner {
  display: flex;
  width: 100%;
  height: auto;
  color: #555361;
  flex-direction: row-reverse;
  align-items: center;
}

.title-container {
  width: 80%;
  height: 10em;
  display: flex;
  margin: 0.6em 0.3em 0.6em 0.6em;
  align-items: center;
  justify-content: space-around;
}
.title-container:hover {
  cursor: pointer;
  background-color: #555361;
  color:#fe9dc8;
  border-radius: 20px;
}
.title {
  font-size: 6em;
}

.contact {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: 0.6em 0.6em 0.6em 0.3em;
  font-size: 1em;
}

.cart-icon {
  position: fixed;
  bottom: 8px;
  right: 16px;
  padding: 10px;
  border-radius: 20px;
  background-color: #555361;
  color: #dcd3d8;
}
.cart-icon > i {
  font-size: 400%;
}
.cart-icon:hover {
  cursor: pointer;
  color: #555361;
  background-color: #fe9dc8;
}
