html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #555361;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.top-banner {
  display: flex;
  width: 100%;
  color: #555361;
  background-color: #555361;;
  justify-content: space-between;
}

.cart-icon {
  display: flex;
  justify-content: flex-end;
  font-size: 500%;
  margin: .25em 1em 0em 0em; 
}
.cart-icon:hover {
  color: yellow;
  // font-size: 520%;
  cursor: pointer;
}

.cart-icon:hover {
  cursor: pointer;
  color: yellow;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 5;
  height: 8em;
  background-color: #f3fc73;
  margin: 10px 10px 10px 10px;
  border-radius: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  background-color: #f3fc73;
  margin: 10px 10px 10px 10px;
  font-family: 'Supermercado One';
  font-size: 16px;
  border-radius: 20px;
}

.title {
  padding: 0 20px 0 20px;
  font-family: 'Supermercado One';
  font-size: 5em;
}

.footer-actions .fas:hover {
  color: gold;
}


