html {
  box-sizing: border-box;
}

body {
  font-family: 'Supermercado One';
  display: flex;
  flex-direction: column;
  background-color: #ece3d9;
}

.top-banner {
  display: flex;
  width: 100%;
  height: auto;
  color: #555361;
}

.title-container {
  width: 80%;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.6em 0.3em 0.6em 0.6em;
  border-radius: 20px;
  cursor: pointer;
  background-color: #aac7b9;
}
.title {
  font-size: 6em;
}

.contact {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: 0.6em 0.6em 0.6em 0.3em;
  font-size: 1em;
  // background-color: #f3fc73;
  background-color: #aac7b9;
}

.cart-icon {
  position: fixed;
  bottom: 8px;
  right: 16px;
  // color: #555361;
  padding: 10px;
  border-radius: 20px;
  background-color: #555361;
  color: #dcd3d8;
}
.cart-icon > i {
  font-size: 400%;
}
.cart-icon:hover {
  cursor: pointer;
  color: #555361;
  background-color: #fe9dc8;
}

.footer-actions .fas:hover {
  color: gold;
}
// color: #dcd3d8;
//   color: #f4eadd;
//   color: #aac7b9;
//   color: #fe9dc8;
//   color: #c7dc98;
